@font-face {
	font-family: "Lucida_console";
	src: url("/dng.server/lucon.ttf");
}
html{
	padding: 1rem;
	max-width: 100vw;
	
}
*{
	font-family: Lucida_console;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	text-align: left;
	/*
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	*/
}
hr{
	border-style: none;
}
td,th{
	padding-right: 1rem;
	vertical-align: top;
}
a{
	/*color: black;*/
}
img{
 	max-width: 10rem;
 	display: block;
}
button{

}
/*
tbody,table,tr{
	display: inline-block;
	width: 100%;
}
*/